.countdownHolder{
	width:100%;
	float:right;
	font-size:24px;
	margin:0 auto;
	text-align:center;
	letter-spacing:-6px;
	position:relative;
	z-index:10;
}

.position{
	display:inline-block;
	height:50px;
	overflow:hidden;
	position:relative;
	width:22px;
}

.digit{
	position:absolute;
	font-family: 'Oswald', sans-serif;
	display:block;
	width:18px;
	text-align:center;
	color:#fff;
	letter-spacing:-1px;
	font-weight:500;
	font-size:38px;
	height:60px !important;
}

.digit {
	top:10px
}
.static{
	top:10px !important;
	height:60px
}

.define{
	position:relative;
	top:51px;
	z-index:12;
}

.define p{
	color:#fff;
	position:absolute;
	left:26px;
	bottom:3px;
	text-transform:uppercase;
	font-size:9px;
	width:51px;
	height:17px;
	text-align:center;
}
.define p.days{
	left:28px;
	top:0px;
}
.define .hours{
	left:98px;
	top:0px;
}
.define .min{
	left:167px;
	top:0px;
}
.define .secnd{
	left:238px;
	top:0px;
}
/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{
	background:url(../images/gray-transparent.png);
	display:inline-block;
	width:70px;
	height:48px;
	padding:10px 0 20px 0px;
}
.countDiv0{ /* display:none !important;*/ }
.countHours{
	background:url(../images/gray-transparent.png);
	display:inline-block;
	width:70px;
	height:48px;
	padding:10px 0 20px 0px;
}
.countDiv1{}
.countMinutes{
	background:url(../images/gray-transparent.png);
	display:inline-block;
	width:70px;
	height:48px;
	padding:10px 0 20px 0px;
}
.countDiv2{}
.countSeconds{
	background:url(../images/gray-transparent.png);
	display:inline-block;
	width:70px;
	height:48px;
	padding:10px 0 20px 0px;
}


.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
	display:none;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:3px;
	height:3px;
	background-color:#fff;
	left:50%;
	margin-left:1px;
	top:15px;
	content:'';
}

.countDiv:after{
	top:4px;
}